.popUpContainer::-webkit-scrollbar {
    width: 5px;
}

.popUpContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

.popUpContainer::-webkit-scrollbar-thumb {
    background: rgb(114, 114, 114); 
    border-radius: 10px;
}

.popUpContainer::-webkit-scrollbar-thumb:hover {
    background: #222222; 
}

.popup-box {
    font-family: "Maison Neue" !important;
    padding: 10px;
}

.audio-svg {
    width: 40px;
}

.word-spell {
    color: black;
    /* font-size: 1.3rem !important; */
    font-size: 21px !important;
    padding: 0 0 0 16px;
    margin: 0;
    font-weight: 500;
}

.word-and-audio {
    display: flex;
    align-items: center;
}

.audio {
    padding: 5px 0 0 0;
    width: 40px;
    height: 50px;
}

object {
    pointer-events: none;
}

.word-phonetic {
    color: black;
    font-family: monospace;
    padding: 0 0 0 56px;
    /* font-size: 0.85rem !important; */
    font-size: 13.6px !important;
    margin: -5px 0 0 0;
}

.type {
    color: black;
    margin: 10px 0;
    font-style: italic;
    /* font-size: 0.85rem !important; */
    font-size: 13.6px !important;
}

.subDescription {
    margin: 15px 10px;
    font-size: 0.9rem !important;
}

.meaning {
    color: black;
    margin: 0;
    font-size: 14.4px;
}

.sentence {
    margin: 5px 0 0 0;
    color: #5a5a5a;
    font-size: 14.4px;
}

.similar {
    margin: 0;
    color: green;
    font-weight: 500;
    font-size: 14.4px;
}

.antonyms, .synonyms {
    color: black;
    display: inline;
    font-size: 14.4px;
}

.opposites {
    color: #d92222;
    font-weight: 500;
    font-size: 14.4px;
}
